# Backend
backend/vendor/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Node signaling server
node_modules/

# OS
.DS_Store
Thumbs.db